.menu-links {
  height: 20px;
  display: flex;
  flex-direction: row;
}

.coll-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: lightsteelblue;
}

.element.style {
  height: 85px;
}

.screen-size {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.options-bar {
  display: flex;
  justify-content: center;
}
