.title {
  margin: 10px 0;
  color: aliceblue;
}

.next-prev {
  position: relative;

  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-element {
  margin-left: 50px;
  /* margin: 10px 50px; */
  margin-top: 15px;
  margin-bottom: 10px;
}

.link {
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
}

.disabled {
  cursor: none;
  color: grey;
}

.links {
  display: flex;
  list-style-type: none;
}

a {
  color: #ffffff;
}

.search-container {
  margin-top: 30px;
}

.search-filter-container {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.spinner-pos {
  margin-top: 200px;
}
.position-back {
  position: absolute;
  color: white;
  font-weight: bold;
  font-size: 25px;
  top: 50%;
  left: 50%;
  width: 200px;
}

.here-click {
  cursor: pointer;
  font-style: italic;
  white-space: pre-wrap;
}

.elements-appear {
  width: 550px;
  height: 140px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 25px 20px 15px;

  border-radius: 15px;
  transition: all 0.3s;

  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
