.radios-container {
  width: 100px;
}

.radio-layout {
  display: flex;
  flex-direction: row;
}

.radio-layout label {
  margin-left: 5px;
}

.role-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar-container {
  margin-top: 10px;
}

.dropdown-menu {
  height: 120px;
  overflow-y: scroll;
}

.btn-block {
  margin-top: 30px;
}
