/* .profile-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  } */

.profile-container {
  width: 720px;
  height: 700px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 25px 40px 15px;

  border-radius: 15px;
  transition: all 0.3s;
  margin-bottom: 20px;
  margin-top: 50px;
}

.profile-col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 25px;
}

.profile-row {
  margin-bottom: 30px;
  width: 100%;
  margin-left: 20px;
}
.MuiAvatar-root {
  width: 80px;
  height: 80px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.user-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  align-items: center;
  margin-bottom: 40px;
}

.avatar {
  margin-left: 2px;
}

.edit-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-bottom: 10px;
}

.edit-container {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.edit-row {
  width: 50%;
}

.profile-form {
  margin-left: 10px;
}

.submit-btn {
  width: 30%;
  margin-left: 20px;
}
