.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 34px;
  margin-bottom: 12px;
}

.filter-icon {
  cursor: pointer;
  color: aliceblue;
  border: 2px solid aliceblue;
  border-radius: 8px;
  padding: 5px;
  height: 40px;
}

.spaceing {
  margin: 7px 0;
}

.elements-space {
  margin-bottom: 12px;

  justify-content: space-between;
}

.elements-appear {
  width: 550px;
  height: 140px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px 25px 20px 15px;

  border-radius: 15px;
  transition: all 0.3s;

  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.elements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.name {
  text-align: center;
}

.description {
  margin-top: 5px;
  text-align: center;
}
.arrow {
  cursor: pointer;
  align-self: flex-end;
}

.arrow-rating {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  padding: 0px 15px;
  height: 100px;
}

.icon-container {
  position: relative;
  height: 100%;
  width: 13%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options {
  margin: 30px;
  display: flex;
  flex-direction: column;
  width: 30px;
  height: 100px;

  padding: 5px; /* this */
}

.options > div {
  flex: 1 1 auto;
  text-align: center;

  margin: 5px; /* and that, will result in a 10px gap */
}

.active-element {
  margin-top: 20px;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-div {
  display: flex;
  justify-content: center;
}

.dropdown-toggle {
  background-color: white !important;
  color: black !important;
}
